  @model ge_repository.Models._ge_location  
       
        <div id=_DetailsLocation>
        <dt>
            @Html.DisplayNameFor(model => model.locName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.locAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.locPostcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locPostcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.locMapReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locMapReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.locEast)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locEast)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.locNorth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locNorth)
        </dd>
                <dt>
            @Html.DisplayNameFor(model => model.locLatitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locLatitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.locLongitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locLongitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.folder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.folder)
        </dd>
        </div>