@page
@model ge_repository.Pages.Transform.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ge_transform</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ge_transform.project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_transform.project.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_transform.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_transform.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_transform.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_transform.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_transform.data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_transform.data.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_transform.style)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_transform.style.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_transform.created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_transform.created.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_transform.createdDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_transform.createdDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_transform.editedDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_transform.editedDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_transform.edited)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_transform.edited.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ge_transform.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
