@page
@model ge_repository.Pages.User.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ge_user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.LastLoggedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.LastLoggedIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.NormalizedUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.NormalizedUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.NormalizedEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.NormalizedEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.PasswordHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.PasswordHash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.SecurityStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.SecurityStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.ConcurrencyStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.ConcurrencyStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.PhoneNumberConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.PhoneNumberConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.TwoFactorEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.TwoFactorEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.LockoutEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.LockoutEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.LockoutEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.LockoutEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ge_user.AccessFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ge_user.AccessFailedCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ge_user.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
